---
import { Picture } from "@astrojs/image/components";
import Layout from "../../layouts/Layout.astro";

import thumbnail from "../../../assets/images/portfolio/moviesNight/moviesNight_thumbnail.jpg";
import moviesNight_intro from "../../../assets/images/portfolio/moviesNight/moviesNight_intro.jpg";
import moviesNight_main_part01 from "../../../assets/images/portfolio/moviesNight/moviesNight_main_part01.jpg";
import moviesNight_main_part02 from "../../../assets/images/portfolio/moviesNight/moviesNight_main_part02.jpg";
import moviesNight_main_part03 from "../../../assets/images/portfolio/moviesNight/moviesNight_main_part03.jpg";
import moviesNight_screens from "../../../assets/images/portfolio/moviesNight/moviesNight_screens.jpg";
---

<Layout title="Project | MoviesNight">
  <div class="relative z-0 pt-48 pb-12">
    <div class="relative z-10 m-auto max-w-6xl px-4 md:px-8">
      <div
        class="flex flex-col items-center gap-8 text-center md:flex-row md:text-left"
      >
        <div class="md:w-1/2">
          <a
            href="/#works"
            class="z-50 mb-12 inline-flex items-center gap-2 rounded-lg bg-gray-800 py-2 px-3 hover:bg-gray-700"
          >
            <!-- prettier-ignore -->
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
            </svg>
            Go back
          </a>
          <p class="uppercase tracking-widest text-gray-300">Project</p>
          <h2 class="font-header mt-2 text-6xl">moviesNight</h2>
          <p class="mt-5 max-w-prose text-lg tracking-wide text-gray-400">
            A personal website project as a simple personal list of recently
            seen movies and series.
          </p>
        </div>
        <div class="md:w-1/2">
          <Picture
            src={thumbnail}
            sizes="(max-width: 800px) 100vw, 800px"
            widths={[528, 800]}
            alt="MoviesNight's Project Thumbnail"
            class="rounded-2xl"
          />
        </div>
      </div>
    </div>
    <div class={`absolute inset-0 h-full z-0 bg-gray-900 dark:opacity-50`}>
    </div>
  </div>
  <div class={`relative py-20 duration-300 overflow-hidden`}>
    <div class="relative z-10 m-auto max-w-6xl px-4 md:px-8">
      <div class="md:flex">
        <div class="mb-12 md:w-1/4">
          <p class="uppercase tracking-widest text-gray-300">Work involved</p>
          <p class="mt-5 max-w-prose text-lg tracking-wide text-gray-400">
            Back-End
          </p>
          <p class="mt-5 max-w-prose text-lg tracking-wide text-gray-400">
            Front-End
          </p>
          <p class="mt-5 max-w-prose text-lg tracking-wide text-gray-400">
            Database &amp; API
          </p>
          <p class="mt-5 max-w-prose text-lg tracking-wide text-gray-400">
            Deploiment
          </p>
        </div>

        <div class="ml-auto max-w-3xl md:w-3/4">
          <p class="mb-5 uppercase tracking-widest text-gray-300">Project</p>
          <div class="flex flex-col gap-8">
            <p class="text-gray-4 text-lg tracking-wide text-gray-400">
              The idea started when one day I was watching movies with a friend
              and we were talking about how great would be to have a list of
              watched movies. Of course, there is a possibility to track movies
              on services like IMDB, but I wanted a more tailored experience,
              with a more minimalistic solution. So the next day I put some
              sketches of what I would like to have and started the development
              of the website.
            </p>
            <Picture
              src={moviesNight_intro}
              sizes="(max-width: 800px) 100vw, 800px"
              widths={[528, 800]}
              alt="moviesNight preparations"
              class="rounded-2xl"
            />
            <p class="text-lg tracking-wide text-gray-400">
              Simple blog-style records adding was not ideal, while it takes
              time to fill out all the fields, that is why I decided to include
              TMDb API to automatically retrieve all associated data with
              records. At the development time, I was interested in the NextJS
              framework so it was an easy choice for a website builder platform.
            </p>
            <p class="text-lg tracking-wide text-gray-400">
              For records storing I decided to go with MongoDB, just for
              learning purposes.
            </p>
            <div class="overflow-hidden rounded-2xl bg-gray-900">
              <Picture
                src={moviesNight_main_part01}
                sizes="(max-width: 800px) 100vw, 800px"
                widths={[528, 800]}
                alt="moviesNight project part-1"
              />
              <Picture
                src={moviesNight_main_part02}
                sizes="(max-width: 800px) 100vw, 800px"
                widths={[528, 800]}
                alt="moviesNight project part-1"
              />
              <Picture
                src={moviesNight_main_part03}
                sizes="(max-width: 800px) 100vw, 800px"
                widths={[528, 800]}
                alt="moviesNight project part-1"
              />
            </div>
            <p class="text-lg tracking-wide text-gray-400">
              Currently, there are more than 600 titles of Movies and Series on
              the list since 2016, when I started tracking what I watch.
            </p>

            <Picture
              src={moviesNight_screens}
              sizes="(max-width: 800px) 100vw, 800px"
              widths={[528, 800]}
              alt="moviesNight screens"
              class="rounded-2xl"
            />

            <p class="text-lg tracking-wide text-gray-400">
              You can visit the live website to see what I was watching recently
              and what is my opinion abaut it.
            </p>
            <div class="inline-flex">
              <a
                href="https://movies.juliuszlioba.com"
                target="_blank"
                rel="nofollow noreferrer"
                class="focus:ring-site-primary flex items-center rounded-lg bg-orange py-3 px-4 text-lg hover:bg-orange-light focus:ring-4"
              >
                Visit website
                <!-- prettier-ignore -->
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="ml-2 h-4 w-4" viewBox="0 0 16 16" > <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z" ></path> <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z" ></path> </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
