---
// import { Image } from "astro:assets";
import { Image } from "astro:assets";
import Layout from "../../layouts/Layout.astro";

import moviesNight_thumbnailImage from "../../../assets/images/portfolio/moviesNight/moviesNight_thumbnail.jpg";
import moviesNight_intro from "../../../assets/images/portfolio/moviesNight/moviesNight_intro.jpg";
import moviesNight_main_part01 from "../../../assets/images/portfolio/moviesNight/moviesNight_main_part1.jpg";
import moviesNight_main_part02 from "../../../assets/images/portfolio/moviesNight/moviesNight_main_part2.jpg";
import moviesNight_main_part03 from "../../../assets/images/portfolio/moviesNight/moviesNight_main_part3.jpg";
import moviesNight_screens from "../../../assets/images/portfolio/moviesNight/moviesNight_screens.jpg";
---

<Layout title="Project | MoviesNight">
  <div class="relative z-0 pb-12 pt-48">
    <div class="relative z-10 m-auto max-w-6xl px-4 md:px-8">
      <div
        class="flex flex-col items-center gap-8 text-center md:flex-row md:text-left"
      >
        <div class="md:w-1/2">
          <a
            href="/#works"
            class="z-50 mb-12 inline-flex items-center gap-2 rounded-lg bg-gray-800 px-3 py-2 hover:bg-gray-700"
          >
            <!-- prettier-ignore -->
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
            </svg>
             Go back
          </a>
          <p class="uppercase tracking-widest text-gray-300">Project</p>
          <h2 class="font-header mt-2 text-6xl">moviesNight</h2>
          <p class="mt-5 max-w-prose text-lg tracking-wide text-gray-400">
            A personal website project as a simple personal list of recently
            seen movies and series.
          </p>
          <div class="inline-flex pt-6 pb-4 gap-4 items-center">
            <a
              href="https://movies.juliuszlioba.com"
              target="_blank"
              rel="nofollow noreferrer"
              class="focus:ring-site-primary flex items-center rounded-full bg-orange px-6 py-2 text-lg hover:bg-orange-light focus:ring-4 gap-2"
            >
              Visit website
              <!-- prettier-ignore -->
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
              </svg>
            </a>
            <a
              href="https://github.com/juliuszlioba/moviesnight-nextjs"
              target="_blank"
              rel="nofollow noreferrer"
              class="text-gray-600 duration-75 hover:text-orange"
              title="source code"
            >
              {/* prettier-ignore */}
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="w-8 h-8"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
                ></path>
              </svg>
            </a>
          </div>
        </div>
        <div class="md:w-1/2">
          <Image
            src={moviesNight_thumbnailImage}
            alt="MoviesNight's Project Thumbnail"
            class="rounded-2xl"
            transition:name="works.moviesNight"
          />
        </div>
      </div>
    </div>
    <div class={`absolute inset-0 h-full z-0 bg-gray-900 dark:opacity-50`}>
    </div>
  </div>
  <div class={`relative py-20 duration-300 overflow-hidden`}>
    <div class="relative z-10 m-auto max-w-6xl px-4 md:px-8">
      <div class="md:flex">
        <div class="mb-12 md:w-1/4">
          <p class="uppercase tracking-widest text-gray-300">Work involved</p>
          <p class="mt-5 max-w-prose text-lg tracking-wide text-gray-400">
            Back-End
          </p>
          <p class="mt-5 max-w-prose text-lg tracking-wide text-gray-400">
            Front-End
          </p>
          <p class="mt-5 max-w-prose text-lg tracking-wide text-gray-400">
            Database &amp; API
          </p>
          <p class="mt-5 max-w-prose text-lg tracking-wide text-gray-400">
            Deploiment
          </p>
        </div>

        <div class="ml-auto max-w-3xl md:w-3/4">
          <p class="mb-5 uppercase tracking-widest text-gray-300">Project</p>
          <div class="flex flex-col gap-8">
            <p class="text-gray-4 text-lg tracking-wide text-gray-400">
              The idea started when one day I was watching movies with a friend
              and we were talking about how great would be to have a list of
              watched movies. Of course, there is a possibility to track movies
              on services like IMDB, but I wanted a more tailored experience,
              with a more minimalistic solution. So the next day I put some
              sketches of what I would like to have and started the development
              of the website.
            </p>
            <Image
              src={moviesNight_intro}
              alt="moviesNight preparations"
              class="rounded-2xl"
            />
            <p class="text-lg tracking-wide text-gray-400">
              Simple blog-style records adding was not ideal, while it takes
              time to fill out all the fields, that is why I decided to include
              TMDb API to automatically retrieve all associated data with
              records. At the development time, I was interested in the NextJS
              framework so it was an easy choice for a website builder platform.
            </p>
            <p class="text-lg tracking-wide text-gray-400">
              For records storing I decided to go with Supabase, just for
              learning purposes.
            </p>
            <div class="overflow-hidden rounded-2xl bg-gray-900">
              <Image
                src={moviesNight_main_part01}
                alt="moviesNight project part-1"
              />
              <Image
                src={moviesNight_main_part02}
                alt="moviesNight project part-1"
              />
              <Image
                src={moviesNight_main_part03}
                alt="moviesNight project part-1"
              />
            </div>
            <p class="text-lg tracking-wide text-gray-400">
              Currently, there are more than 700 titles of Movies and Series on
              the list since 2016, when I started tracking what I watch.
            </p>

            <Image
              src={moviesNight_screens}
              alt="moviesNight screens"
              class="rounded-2xl"
            />

            <p class="text-lg tracking-wide text-gray-400">
              You can visit the live website to see what I was watching recently
              and what is my opinion abaut it.
            </p>
            <div class="inline-flex pt-2">
              <a
                href="https://movies.juliuszlioba.com"
                target="_blank"
                rel="nofollow noreferrer"
                class="focus:ring-site-primary flex items-center rounded-full bg-orange px-6 py-2 text-lg hover:bg-orange-light focus:ring-4 gap-2"
              >
                Visit website
                <!-- prettier-ignore -->
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
